body {
  background-color: lightblue;

}


.dot {
  height: 350px;
  width: 350px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
    margin: 0 auto;


}

.dot_s {
  height: 350px;
  width: 350px;
  background-color: #bbb;
  opacity: 0.7;
  border-radius: 50%;
  display: inline-block;

}

.dot_m {
  height: 350px;
  width: 350px;
  background-color: #bbb;
  opacity: 0.5;
  border-radius: 50%;
  display: inline-block;

}

.dot_l {
  height: 350px;
  width: 350px;
  background-color: #bbb;
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;



}

#titel{

  font-size: 70pt;
    font-family: 'Roboto Mono', monospace;
    opacity: 0.3;
}

#titel_2{

  font-size: 70pt;
    font-family: 'Roboto Mono', monospace;
    opacity: 0.5;
}

#titel_3{

  font-size: 70pt;
    font-family: 'Roboto Mono', monospace;
    opacity: 0.7;
}

#titel_4{

  font-size: 70pt;
    font-family: 'Roboto Mono', monospace;
}

.main{

    align-items: center;
}
