body {
  background-color: lightblue;

}


.dot {
  height: 350px;
  width: 350px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
    margin: 0 auto;


}

.dot_s {
  height: 350px;
  width: 350px;
  background-color: #bbb;
  opacity: 0.7;
  border-radius: 50%;
  display: inline-block;

}

.dot_m {
  height: 350px;
  width: 350px;
  background-color: #bbb;
  opacity: 0.5;
  border-radius: 50%;
  display: inline-block;

}

.dot_l {
  height: 350px;
  width: 350px;
  background-color: #bbb;
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;



}

#titel{

  font-size: 70pt;
    font-family: 'Roboto Mono', monospace;
    opacity: 0.3;
   color:white;
}

#titel_2{

  font-size: 70pt;
    font-family: 'Roboto Mono', monospace;
    opacity: 0.5;
}

#titel_3{

  font-size: 70pt;
    font-family: 'Roboto Mono', monospace;
    opacity: 0.7;
}

#titel_4{

  font-size: 70pt;
    font-family: 'Roboto Mono', monospace;
}

#titel_5{


color:black;
font-size: 30pt;
  font-family: 'Roboto Mono', monospace;
  writing-mode: vertical-rl;
text-orientation: mixed;
text-decoration: none;
display: block;
margin-left:0;
margin-top: auto;
float:left;
}

#titel_6{


color:black;
font-size: 60pt;
  font-family: 'Roboto Mono', monospace;
  writing-mode: vertical-rl;
text-orientation: mixed;
text-decoration: none;
display: block;
margin-top: auto;
float:left;
}

#titel_7{


color:black;
font-size: 70pt;
  font-family: 'Roboto Mono', monospace;
  writing-mode: vertical-rl;
text-orientation: mixed;
text-decoration: none;
display: block;
margin-top: auto;
float:left;
}

#titel_8{


color:black;
font-size: 90pt;
  font-family: 'Roboto Mono', monospace;
  writing-mode: vertical-rl;
text-orientation: mixed;
text-decoration: none;
display: block;
margin-top: auto;
float:left;

}

.main{

    align-items: center;
}


#titel_0{

text-align:center;
color:white;
font-size: 70pt;
  font-family: 'Roboto Mono', monospace;


}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 80%;
  position: relative;
  z-index: -1;
}
